$transition: 0.2s ease;
$icon-top-gap: 5px;
$top-gap-expanded: 5px;
$list-top-gap: 15px;
$icon-left-gap: 5px;
$icon-left-gap-expanded: 20px;
$button-opac: 0.45;
.mobile-nav {
    position: fixed;
    display: flex;
    flex-direction: row-reverse;
    max-width: 100%;
    margin-top: $icon-top-gap;
    z-index: 9000;
    transition: $transition;
    opacity: 0.95;
    overflow-y: scroll;
    @include custom(0px, 320px) {
        flex-direction: column;
        width: 100%;
    }
    @include laptop-up {
        display: none;
    }
    &--expanded {
        margin-top: 0;
        padding: 15px;
        padding-top: $top-gap-expanded;
        opacity: 1;
        background-color: lighten(black, 15%);
    }
    &--full-height {
        height: 100%;
    }
    &__button {
        align-self: flex-start;
        height: auto;
        margin-left: $icon-left-gap;
        padding: 10px;
        border: 0;
        border-radius: 4px;
        background-color: rgba(black, $button-opac);
        transition: $transition;
        @include custom(0px,320px) {
            margin-bottom: 15px;
        }
        &:focus,
        &:active {
            outline-color: transparent;
        }
        &--expanded {
            margin-left: $icon-left-gap-expanded;
            background-color: $pink-col-hex;
            @include custom(0px,320px) {
                margin-bottom: 15px;
            }
        }
    }
    &__icon {
        color: white;
        font-size: 28px;
    }
    &__list {
        position: relative;
        width: 200px;
        padding: 0;
        margin-top: $list-top-gap;
        transition: $transition;
        list-style: none;
        @include custom(0px, 320px) {
            width: 100%;
            margin-left: 10px;
        }
        &--hidden {
            margin-left: -200px;
            visibility: hidden;
            @include custom(0px, 320px) {
                margin-left: -100%;
            }
        }
        &--nodisplay {
            display: none;
        }
    }
    &__list-item {
        width: 100%;
        margin-top: 20px;
        transition: 0.3s all ease;
        &:first-child {
            margin-top: 0;
        }
        &--transition-in {
        }
    }
    &__link {
        color: white;
        font-size: 18px;
        &:hover,
        &:focus,
        &:active {
            color: white;
            text-decoration: none;
        }
    }
}
$container-height: 50px;
$container-width: 50px;
$container-height2: strip-unit($container-height);
$container-width2: strip-unit($container-width);
$line-height: 4px;

.c-hamburger {
    transform: rotate(0deg);
    transition: 0.3s ease-in-out;
    cursor: pointer;
    width: $container-width;
    height: $container-height;
    position: relative;
    margin-left: 15px;
    // overflow: hidden;
    background-color: yellow;
    &__line {
        position: absolute;
        display: block;
        height: $line-height;
        width: 100%;
        left: 0;
        background-color: #d3531a;
        border-radius: 9px;
        opacity: 1;
        transform: rotate(0deg);
        transition: 0.3s ease-in-out;
        &--top {
            top: 0px;
        }
        &--middle {
            top: ($container-height / 2) - ($line-height / 2);
        }
        &--bottom {
            top: $container-height - $line-height;
        }
        &--half-left {
            width: 50%;
            left: 0px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        &--half-right {
            left: 50%;
            width: 50%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &--no--width {
            width: 0%;
        }
        &--x-center {
            left: 50%;
        }
    }
    &.open {
        .c-hamburger__line {
            &--to-middle {
                left: ($container-height / 2);
                width: 0%;
            }
            &--to-middle-y {
                top: ($container-height / 2) - ($line-height / 2);
            }
            &--to-middle-x {
                // right: auto;
                left: 50%;
            }
            &--to-no-width {
                width: 0%;
            }
            &--to-diagonal-tl-br {
                transform: rotate(45deg);
                // transform-origin: (0 + $line-height / 2) 2px;
                &--flip {
                    transform: rotate(135deg);
                }
            }
            &--to-diagonal-tr-bl {
                width: 100%;
                transform: rotate(-45deg);
                &--flip {
                    transform: rotate(-135deg);
                }
            }
            &--to-left-out {
                left: -50%;
            }
            &--to-right-out {
                left: 100%;
            }
            &--to-fade {
                background-color: rgba(0, 0, 0, 0);
            }
        }
    }
}
