// class is added when window is scrolled down.
.nav-up.navbar-default {
    @include tablet-up {
        top: -100% !important;
    }
}
#static-nav {
    .desktop-nav {
        position: relative;
        background-color: black;
        float: inherit;
    }
    .nav-up.navbar-default {
        top: 0px !important;
    }
}
/* end nav */
