

// class is added when window is scrolled down.
.nav-up.navbar-default {
    @include tablet-up {
        top: -100% !important;
    }
}
#jouwauto-page {
    .l-desktop-nav{
        position: relative;
        background-color: black;
        float: inherit;
    }
    .nav-up.navbar-default {
        top: 0px !important;
    }
}
.fa-navicon:before,
.fa-reorder:before,
.fa-bars:before {
    content: '\f0c9' !important;
}
/* end nav */
