$fa-font-size: 26px;
.c-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 20px;
    padding: 15px 15px;
    border: $inputsborder;
    border-radius: 5px;
    font-size: 18px;
    background-color: $input_back_color;
    color: $input_color;
    transition: 0.3s ease;
    &:focus,
    &:hover {
        background-color: $input-hover-back-color;
        color: $input-hover-color;
        border: $inputsborder-hover;
        outline: none;
    }
    &--radio {
        box-sizing: border-box;
    }
    &--nopad {
        padding: 0;
    }
    &--star {
    }
    &--star {
        padding: 5px 15px !important;
        @include tablet-down {
            @include setflex(row !important, center, center);
        }
        @include portrait {
            @include setflex(column !important, center, flex-start);
        }
    }
    &--currency {
        width: 100%;
        margin-left: 7px;
        border: 0;
        background-color: white;
        &:hover,
        &:focus,
        &:active {
            background-color: white !important;
            border: none !important;
            outline: none;
        }
    }
    &--select {
        appearance: none;
    }
    &__star-label {
        @include landscape {
            width: 50%;
            text-align: left;
        }
        @include custom($portrait-max, 600px) {
            width: 35%;
            text-align: left;
        }
        @include tablet {
            width: 50%;
            text-align: left;
        }
    }
    &__arrow {
        @include setflex(row, center, flex-end);
        position: absolute;
        width: 100%;
        top: 0px;
        height: 100%;
        left: 0px;
        border: 0 !important;
        pointer-events: none;
        &:before {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100%;
            width: 1px; /* or 100px */
        }
        &:checked {
            background-color: red !important;
        }
        &__icon {
            margin-right: 20px;
            &--top {
                margin-top: 6%;
            }
        }
    }
    &__check {
        position: absolute;
        top: ((59px - $fa-font-size) / 2) + 20;
        right: 30px;
        background-color: rgba(white, 0);
        font-size: $fa-font-size;
        line-height: 1;
        @include landscape-down {
            top: ((59px - $fa-font-size) / 2);
        }
        &--ok {
            color: green;
            &:before {
                content: '\f058';
            }
        }
        &--nook {
            color: #ff3333;
            &:before {
                content: '\f057';
            }
        }
    }
}
