.c-info-tab {
    padding: 50px 0px;
    background-image: url($imagelocation + 'stappenplan-background.jpg') !important;
    background-repeat: repeat-y;
    p {
        margin: 0;
    }
    &--step4 {
        min-height: calc(100vh - (212px)); // tm 331px
        @include custom(332px, 429px) {
            min-height: calc(100vh - (182px));
        }
        @include custom(430px, $landscape-max - 1) {
            min-height: calc(100vh - (156px));
        }
        @include tablet {
            min-height: calc(100vh - (169px));
        }
        @include laptop-up {
            min-height: calc(100vh - (117.5px + 169px));
        }
    }
    &__title {
        @include landscape-down {
            text-align: center;
            font-size: 26px;
        }
        @include laptop {
            font-size: 28px;
        }
        @include tablet {
            font-size: 28px;
        }
    }
    &__paragraph {
        @include landscape-down {
            text-align: center;
            font-size: 16px;
        }
    }
}
