.c-radios {
    transition: 0.2s ease;
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: flex-end;
    &__label {
        transition: 0.2s ease;
        padding-left: 15px;
        margin: 0;
        width: 60%;
        text-align: left;
    }
    &__single-radio {
        height: 100%;
        width: 40%;
        &--yes .c-radios__single-radio-label {
            padding: 15px 18px 15px 18px;
        }
    }
    &__input {
        display: none;
        &:checked + .c-radios__single-radio-label {
            color: $pink-col-hex;
        }
    }
    &__single-radio-label {
        display: block;
        position: relative;
        justify-content: center;
        height: 100%;
        margin: 0;
        padding: 15px 15px 15px 15px;
        border-left: 2px solid white;
        border-radius: 2;
        text-align: center;
        line-height: 22px;
        transition: 0.2s ease;
        background: black;
        color: white;
        cursor: pointer;
        @include portrait {
            display: flex;
            align-items: center;
        }
        @include tablet {
            display: flex;
            align-items: center;
        }
        &:hover {
            color: lighten($pink-col-hex, 30%);
        }
    }
}
