.c-box {
    width: 50%;
    margin-bottom: 20px;
    border-top: 3px solid #d2d6de;
    border-radius: 3px;
    background: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    &--border-blue {
        border-top-color: #3c8dbc;
    }
    &__header {
        padding: 10px;
        &--border {
            border-bottom: 1px solid #f4f4f4;
        }
    }
    &__title {
        display: inline-block;
        font-size: 18px;
    }
    &__body {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 10px;
    }
    &__footer {
        padding: 10px;
        .fa-plus-circle {
            font-size: 24px;
            transition: 0.2s ease;
            &:hover {
                transform: scale(1.2);
            }
        }
    }
}
