.user-info {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    text-align: center;
    &__naam {
        width: 25%;
    }
    &__email {
        width: 25%;
    }
    &__bevestigd {
        width: 25%;
    }
    &__edit {
        width: 25%;
    }
    &--header-row {
        padding: 15px 0px;
        margin-top: 0px;
        border-radius: 5px;
        color: white;
        background-color: #3c8dbc;
        font-weight: bold;
    }
}
