$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
.c-loading {
    &--google-spinner {
        width: $loader-google-size;
        height: $loader-google-size;
        animation: rotate-all 1s linear infinite;
    }
    &__spinner-single {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        overflow: hidden;
        &--left {
            left: 0;
        }
        &--right {
            right: 0;
        }
    }
    &__spinner-inner {
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 200px 0 0 200px;
        border: $loader-google-border-width solid $loader-google-color;
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: $loader-google-border-width;
            height: $loader-google-border-width;
            background-color: $loader-google-color;
            border-radius: 10px;
            animation: background-color-yas $loader-google-color-animation linear infinite;
        }
        &--right {
            border-radius: 0 200px 200px 0;
            border-left: none;
            transform: rotate(-10deg);
            transform-origin: left center;
            animation: rotate-right $loader-google-shrink-grow-animation linear infinite alternate,
                border-color-no-left $loader-google-color-animation linear infinite;
            &:after {
                bottom: $loader-google-border-width * -1;
                left: getpixels-bywidth($loader-google-border-width / 1px);
            }
        }
        &--left {
            border-right: none;
            transform: rotate(10deg);
            transform-origin: right center;
            animation: rotate-left $loader-google-shrink-grow-animation linear infinite alternate,
                border-color-no-right $loader-google-color-animation linear infinite;
            &:after {
                bottom: $loader-google-border-width * -1;
                right: getpixels-bywidth($loader-google-border-width / 1px);
            }
        }
    }
}
@keyframes background-color-yas {
    100%,
    0% {
        background-color: $red;
    }
    40% {
        background-color: $blue;
    }
    66% {
        background-color: $green;
    }
    80%,
    90% {
        background-color: $yellow;
    }
    // 0% {
    //     background-color: $blue;
    // }
    // 25% {
    //     background-color: $red;
    // }
    // 50% {
    //     background-color: $green;
    // }
    // 75% {
    //     background-color: $yellow;
    // }
    // 100% {
    //     background-color: $blue;
    // }
}
@keyframes border-color-no-left {
    0% {
        border: $loader-google-border-width solid $blue;
        border-left: 0;
    }
    25% {
        border: $loader-google-border-width solid $red;
        border-left: 0;
    }
    50% {
        border: $loader-google-border-width solid $green;
        border-left: 0;
    }
    75% {
        border: $loader-google-border-width solid $yellow;
        border-left: 0;
    }
    100% {
        border: $loader-google-border-width solid $blue;
        border-left: 0;
    }
    100%,
    0% {
        stroke: $red;
    }
    40% {
        stroke: $blue;
    }
    66% {
        stroke: $green;
    }
    80%,
    90% {
        stroke: $yellow;
    }
}
@keyframes border-color-no-right {
    0% {
        border: $loader-google-border-width solid $blue;
        border-right: 0;
    }
    25% {
        border: $loader-google-border-width solid $red;
        border-right: 0;
    }
    50% {
        border: $loader-google-border-width solid $green;
        border-right: 0;
    }
    75% {
        border: $loader-google-border-width solid $yellow;
        border-right: 0;
    }
    100% {
        border: $loader-google-border-width solid $blue;
        border-right: 0;
    }
}
@keyframes rotate-left {
    from {
        transform: rotate(175deg);
    }
    to {
        transform: rotate(30deg);
    }
}

@keyframes rotate-right {
    from {
        transform: rotate(-175deg);
    }

    to {
        transform: rotate(-30deg);
    }
}

@keyframes rotate-all {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
