$pink-col-rgb: 238, 42, 123;
$pink-col-hex: #ee2a7b;
$mobile-max-width: 480px;
$tablet-max-width: 768px;
$buttonsborder: 2px solid white;
$imagelocation: 'http://localhost:3000/webuycars/public/img/';
$stars_rating_hover: #ee2a7b;
$stars_rating_hover_prev: #f68eb9;
$textbox_color: black;
$textbox_back_color: white;
@import "mixins";
