$pink-col-rgb: 238, 42, 123;
$pink-col-hex: #ee2a7b;
$mobile-width: 480px;
$tablet-width:768px;
$buttonsborder: 2px solid white;
$imagelocation: 'http://localhost:3000/webuycars/public/img/';
$stars_rating_hover: #ee2a7b;
$stars_rating_hover_prev: #f68eb9;

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin tablet {
    @media (min-width: #{$mobile-width+1}) and (max-width: #{$tablet-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$tablet-width}) {
        @content;
    }
}

@mixin custom($custommin, $custommax) {
     @media (min-width: #{$custommin}) and (max-width: #{$custommax}) {
      @content;
    }
}

@mixin div-same-size-as-background-img($url, $h, $w) {
    background-image: url($url);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: percentage($h / $w);
}
@mixin setflex($direction, $align-items, $justify-content){
    display:flex;
    flex-direction: $direction;
    align-items:  $align-items;
    justify-content: $justify-content;
}
@mixin setbackgrounds(){
    @include mobile {
        background-image: url($imagelocation + 'header-mobile.png');
    }
    @include tablet{
        background-image: url($imagelocation +  'header-tablet2.png');
    }
    @include desktop {
        background-image: url($imagelocation + 'header.png');
    }
}
@mixin button {
    transition: .2s ease;
    font-size: 18px;
    margin-top: 20px;
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0,0,0,1);
    color:white;
    padding: 15px 15px;
    border: $buttonsborder;
    transition: .3s ease;
    &:active, &:focus, &:hover
    {
        background-color: rgba(0,0,0,1) !important;
        //border:0;
        color: white !important;
    }
}
@mixin step_nums_and_dashes{
    .row.numbers-and-dashes{
        @include custom(0px, 389px){
            display:none !important;
        }
        margin-top: 25px;
        .col{
            display:flex;
            align-items: center;
            justify-content: center;
            .tablenr{
                p{
                    padding:0;
                    margin:0;
                }
                border:4px solid black;
                height: 80px;
                display:flex;
                align-items: center;
                justify-content: center;
                font-size: 48px;
                background-color: white;
                color: black
            }
            .tablenr.active{

                background-color: black;
                color: white;
            }
            .tabledash{
                border: 5px solid black;
            }
        }
    }
}
@mixin vorige-knop {
    .vorige-stap{
        margin-top:25px;
        background-color: rgba(0,0,0,0);
        color: black;
        border:0;
        transition: .2s ease;
        p{
            margin:0;
        }
        &:hover{
            background-color: rgba(0,0,0,1);
            color:white;
        }
    }
}
@mixin volgende-stap {
    .volgende-stap{

        p{
            margin:0;
        }
        margin-top: 20px;
        padding: 20px 0px 20px 0px;
        text-align: center !important;
        border: none;
        background-color: $pink-col-hex;
        width: 100%;
        display: flex;
        justify-content: center;
        &:hover{
            background-color: $pink-col-hex !important;
            border: none !important;
        }
        &:focus{
            background-color: $pink-col-hex !important;
            border: none !important;
        }
        &:active{
            background-color:  $pink-col-hex !important;
            border: none !important;
        }
    }
}
