.top-image{
    @include setbackgrounds;
    .container{
        height:auto;
        text-align: left;
        color:white !important;
        font-size: 20px;
        height:100%;
        @include portrait{
            @include setflex(column,center, center);
            height:700px;
        }
        @include landscape{
            @include setflex(column,center, center);
            height:700px;
        }
        @include tablet-up{
            @include setflex(column,flex-end, center);
            height:700px;
        }
        .row{
            width:100%;
            @include portrait{
                @include setflex(column,center, center);
                width:auto;
            }
            @include landscape{
                @include setflex(column,center, center);
            }
            @include tablet-up{
                @include setflex(column,flex-end, flex-end);
            }
            form{
                @include portrait{
                    @include setflex(column,center, center);
                    width:auto;
                }
                @include landscape{
                    @include setflex(column,center, center);
                }
                @include tablet-up{
                    @include setflex(column,flex-end, flex-end);
                }
            }
        }
        .plate{
            height: 88px;
            border: 4px solid white;
            width:310px;
            padding-left: 50px;
            font-size: 45px;
            background-image: url($imagelocation +  'plate.png');
            background-repeat:no-repeat;
        }
        .nextbtn{
            margin-top:15px;
            background-color: rgba(0,0,0,0);
            padding: 5px 15px;
            border: $buttonsborder;
            transition: .3s ease;
            &:hover{
                background-color: rgba(0,0,0,1);
            }
        }
    }
}


.vrijblijvend{
    @include setflex(column, center, center);
    color:white;
    height:300px;
    background: $pink-col-hex;
    text-align: center;
    h1{
        @include portrait {
            font-size: 28px;
        }
        @include landscape {
            font-size: 36px;
        }
        @include tablet-up {
            font-size: 72px;
        }
        @include custom(768px, 952px) {
            font-size: 48px;
        }
        span{
            font-weight: bold;
        }
    }
    h2{
        @include portrait {
            font-size: 24px;
        }
        @include landscape {
            font-size: 24px;
        }
        @include tablet-up {
            font-size: 48px;
        }
        @include custom(768px, 952px) {
            font-size: 36px;
        }
    }
}


.instructies{
    height: auto;
    display: flex;
    @include setflex(row, center, center);
    @include tablet-down{
        flex-direction: column;
    }
    background-image: url($imagelocation + 'cardoor.png');
    @include custom(0px, 900px){
        background-image: url($imagelocation + 'cardoor-900x1500.png');
    }
    background-repeat:no-repeat;
    .col{
        color:white;
        padding: 40px 0 40px 0;
        text-align: center;
        img{
            width:250px;
        }
    }
}

.gegevens{
    @include setflex(row, center, space-around);
    color: white;
    background-color: $pink-col-hex;
    .container{
        padding: 100px 0px;
    }
    .col{
        margin: 0 auto;
        margin-bottom: 25px;
    }
    .imgcol:not(.hidden-xs){
        @include portrait{
            @include setflex(row, center, center, nowrap, !important);
            text-align: center;
        }
        @include landscape{
            @include setflex(row, center, center, nowrap, !important);
            text-align: center;
        }
    }
    .bottom-col{
        margin-bottom: 0;
    }
}
.reviews {
    background-image: url($imagelocation + 'reviewachtergrond.png');
    height: auto;
    display: flex;
    .col {
        text-align: center;
        color: white;
        .reviewbox {
            margin: 40px 0px 40px 20px;
            // height: 640px;
            background-color: white;
            @include portrait{
                margin-left: 0;
                padding-bottom:20px;

            }
            @include landscape{
                margin-left: 0;
                padding-bottom: 20px;
            }
        }
        .foto {
            background-image: url($imagelocation + 'blauwepolo.png') !important;
            background-repeat:no-repeat !important;
            height: 0 !important;
            padding: 0; /* remove any pre-existing padding, just in case */
            padding-bottom: 62% !important; /* for a 4:3 aspect ratio */
            background-position: top center;
            background-size: 100%;
            background-repeat: no-repeat;

        }
        .foto2 {
            background-image: url($imagelocation + 'blauwepoloRes.png') !important;
            background-repeat:no-repeat !important;
            height: 0 !important;
            padding: 0; /* remove any pre-existing padding, just in case */
            padding-bottom: 62% !important; /* for a 4:3 aspect ratio */
            background-position: top center;
            background-size: 100%;
            background-repeat: no-repeat;

        }
        .fotoOnderlijn{
            height: 10px;
            background-color: #ee2a7b;
        }
        .tekst-naam {
            color: black;
            margin: 50px 20px 0px 20px;
        }
        .tekst {
            color: black;
            margin: 0px 20px 0px 20px;
        }
        .tekstOnderlijn {
            height: 2px;
            background-color: black;
            margin: 20px 40px 0px 40px;

        }
        .rating {
            background-image: url($imagelocation + 'review1Score.png') !important;
            background-repeat:no-repeat !important;
            height: 0 !important;
            padding: 0; /* remove any pre-existing padding, just in case */
            padding-bottom: 14% !important; /* for a 4:3 aspect ratio */
            background-position: top center;
            background-size: 70%;
            background-repeat: no-repeat;
            margin: 30px 0px 30px 0px;
        }
        .rating2 {
            background-image: url($imagelocation + 'review2Score.png') !important;
            background-repeat:no-repeat !important;
            height: 0 !important;
            padding: 0; /* remove any pre-existing padding, just in case */
            padding-bottom: 14% !important; /* for a 4:3 aspect ratio */
            background-position: top center;
            background-size: 70%;
            background-repeat: no-repeat;
            margin: 30px 0px 30px 0px;
        }
    }
}

.footer {
    height: 200px;
    width: 100%;
    background-color: #ee2a7b;
}
