/* begin nav */
#jouwauto-page{
    nav.navbar{
        position: relative;
        background-color: black;
        float: inherit;
    }

}
nav.navbar{
    top: 0px;
    transition: .5s ease;
    z-index: 11;
    margin-bottom: 0;
    position:absolute;
    width: 100%;
    background-color:  rgba(0,0,0,.8);
    border: 0;
    color: white;
    border-radius: 0;
    padding-right:50px;
    // screen-size <= 767px
    @include landscape-down{
        padding-right:25px;
        background-color: rgba(0,0,0,.8);
    }
    .navbar-collapse{
        text-align: center;
    }
    .glyphicon-menu-hamburger{
        font-size: 20px;
    }
    .navbar-nav{
        //screen-size: =>768
        @include tablet-up{
            float: right;
        }
    }
    button{
        @include landscape-down{
            margin-top: 35px;
        }
    }
    ul>li>a{
        //make all the buttons in be in the middle (Vertically)
        line-height: 87px;
    }
    a{
        color:white !important;
        font-size: 24px;
        transition: .3s ease;
        &:hover{
            background-color: rgba(0,0,0,.4) !important;
        }
    }
    .navbar-header
    {
        margin-left:25px;
    }
    .navbar-brand{
        height:auto;

    }
    .brand-img{
        width:250px;
        @include custom(0px, 369px){
            width:150px;
        }
    }
}
// class is added when window is scrolled down.
.nav-up{
    top: -200px !important;
    @include custom(768px, 1002px){
        top: -250px !important;
    }
}

/* end nav */
