.info-step2{
    background-image: url($imagelocation +'stappenplan-background.jpg') !important;
    background-repeat: no-repeat;
    padding: 50px 0px;
    .volgende-stap{
        p{
            margin:0;
        }
        margin-top: 20px;
        padding: 20px 0px 20px 0px;
        text-align: center;
        border: none;
        background-color: $pink-col-hex;
        width: 100%;
        &:hover{
            background-color: $pink-col-hex !important;
            border: none !important;
        }
        &:focus{
            background-color: $pink-col-hex !important;
            border: none !important;
        }
        &:active{
            background-color:  $pink-col-hex !important;
            border: none !important;
        }
    }
    input{
        @include button;
    }
    @include volgende-knop;
    @include vorige-knop;
}
