#jouwauto-page{
    nav.navbar{
        position: relative;
        background: rgba(0,0,0,1);
        float: inherit;
    }
}
.title-container{
    color:white;
    text-align: center;
    background-color: $pink-col-hex;
    margin:0;
    padding:50px;
}
.grey-between{
    background-image: rgba(255,255,255,.6);
    height: 20px;
}
.info{
    background-image: url($imagelocation +'stappenplan-background.jpg') !important;
    background-repeat: no-repeat;
    padding: 50px 0px;

    .row, .col{
        color: black;
        text-align: center;
    }
    button{
        transition: .2s ease;
        font-size: 18px;
        margin-top: 20px;
        width:100%;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(0,0,0,1);
        @include button;
        p{
            margin:0;
        }
    }
    button[aria-expanded="false"]{
        background-color: rgba(0,0,0,1);
        i{
            &:before{
                content: "\f054";
            }
        }
    }
    button[aria-expanded="true"]{
        i{
            &:before{
                content: "\f078";
            }
        }
    }
    .volgende-stap{
        display:block;
        text-align: center;
        border:none;
        background-color: $pink-col-hex;
        &:hover{
            background-color: $pink-col-hex !important;
            border: none !important;
        }
        &:focus{
            background-color: $pink-col-hex !important;
            border: none !important;
        }
        &:active{
            background-color:  $pink-col-hex !important;
            border: none !important;
        }
    }
    .collapse-div{
        .row{
            display: flex;
            align-items: center;
            margin-left: 0 !important;
            .nopad-col{
                padding:0;
                h4{
                    text-align: right;
                }
            }
            .col{
                display: flex;
                align-items: center;
                justify-content: flex-end;
            }
        }
        input, select{
            background-color: rgba(255,255,255,1);
            border: 1px solid black;
            font-size: 18px;
            height: 60px;
            color: black;
            margin: 25px 0 40px 0;
            padding: 0 0 0 15px;
            width:100%;
            transition: all .3s ease;
            &:focus{
                outline-color: $pink-col-hex;
                outline-style: auto;
                outline-width: 5px;
            }
        }
        select
        {
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
        }
        .inbetween-div{
            position: relative;
        }
        .select-side {
            pointer-events: none;
            border: 0 !important;
            &:before {
                position: absolute;
                left    : 0;
                bottom  : 0;
                height  : 100%;
                width   : 1px;  /* or 100px */
            }
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
            position: absolute;
            top: 0px;
            height: 100%;
            left: 0px;
            i {
                margin-right:20px;
            }
        }
        #selectside2
        {
            height: 110px !important;
            i{
                margin-right: 25px;
            }
        }
        .select-side:checked{
            background-color: red !important;
        }
    }

    @include volgende-knop;
}
