.tabs-nav{
    display: none;
}
#submit-all{
    display:none;
}
#jouwauto-page{
    nav.navbar{
        position: relative;
        background: rgba(0,0,0,1);
        float: inherit;
    }
}
.file-input{
    .file-caption-main{
        display: flex;
        flex-wrap: wrap;
        .file-caption{
            width: 50%;
            height: 50px;
            padding: 15px;
            border-radius: 0px;
            font-size: 16px;
            @include laptop-down{
                width: 100%;
            }
        }
        .input-group-btn{ // wrapper
            display:flex;
            flex-wrap: wrap;
            width: 50%;
            @include laptop-down{
                width: 100%;
            }
            .fileinput-remove{ // Verwijder knop
                .hidden-xs{
                    margin-left: 15px;
                    @include landscape-down{
                        display: block !important;
                    }
                }
                width: calc(100% - 123px);
                @include setflex(row, center, center);
                @include portrait{
                    padding: 10px 0;
                    width:100%;
                }
                @include landscape{
                    padding: 10px 0;
                    width: calc(100% - 123px);
                }
                @include tablet{
                    padding: 10px 0;
                    width:100%;
                }
                @include laptop{
                    width: 100%;
                }
            }
            .btn-file.btn-primary{ // Zoek knop
                height: 50px;
                border-radius: 0px;
                display: flex;
                align-items: center;
                justify-content: space-around;
                width: 123px;
                background-color: black;
                border: 0;
                font-size: 16px;
                transition: .2s ease;
                @include setflex(row, center, center);
                @include portrait{
                    padding: 10px 0;
                    width:100%;
                }
                @include landscape{
                    padding: 10px 0;
                    width: 123px;
                }
                @include tablet{
                    padding: 10px 0;
                    width:100%;
                }
                @include laptop{
                    width: 100%;
                }
                .hidden-xs{
                    margin-left: 15px;
                    @include landscape-down{
                        display: block !important;
                    }
                }
                &:hover{
                    color: $pink-col-hex;
                }
            }
        }
    }

}
.fileinput-upload, .file-upload-indicator{
    display:none;
}
.file-preview-thumbnails{
    @include setflex(row, center, center, wrap);
}
//Part that makes the checks in the textboxes (ok & nook). Change $fa-font-size to change the size of the icon
$fa-font-size: 26px;

.font-awesome-checks{
    position: absolute;
    top: ((59px - $fa-font-size) / 2) + 20;
    @include landscape-down{
        top: ((59px - $fa-font-size) / 2);
    }


    background-color: rgba(white,0);
    border: 0;
    font-size: $fa-font-size;
    right: 30px;
    line-height: 1;
}
.checks-ok{
    color: green;
    &:before{
        content: "\f058";
    }
}
.checks-nook{
    color: #FF3333;
    &:before{
        content: "\f057";
    }
}
.title-container{
    color:white;
    text-align: center;
    background-color: $pink-col-hex;
    margin:0;
    padding:50px;
    h1{
        font-size: 28px;
    }
    h2{
        font-size: 22px;
    }
}
.grey-between{
    background-image: rgba(255,255,255,.6);
    height: 20px;
}
#jouwauto-page{
    .container{
        button{
            &[aria-expanded="false"]{
                i{
                    &:before{
                        content: "\f054";
                    }
                }
            }
            &[aria-expanded="true"]{
                i{
                    &:before{
                        content: "\f078";
                    }
                }
            }
        }
    }
}
.info{

    @include volgende-stap;
    @include step_nums_and_dashes;
    @include vorige-knop;
    @import "radio_buttons";
    p{
        margin:0;
    }
    background-image: url($imagelocation + 'stappenplan-background.jpg') !important;
    background-repeat: no-repeat;
    padding: 50px 0px;
    .col:not(.tablenr){
        color: black;
        text-align: center;
    }
    .currency{
        justify-content: flex-start;
        input{
            border:0;
            background-color: white;
            width:100%;
            margin-left:7px;
            &:hover, &:focus, &:active{
                background-color: white !important;
                border: none !important;
                outline:none;
            }
        }
    }

}
.normalinput, .puretextinput, .currency, .info-step2 input, .info-step3 button, .collapse-div input, .collapse-div select{
    &:not(.kv-file-zoom):not(.fileinput-cancel):not(.fileinput-remove):not(.fileinput-upload):not(.volgende-stap){
        @include inputs;
    }
}
.starinput{
    padding: 5px 15px !important;
    @include tablet-down{
        @include setflex(column !important, center, center);
        .stars{
            width:100%;
            @include setflex(row-reverse, center, center);
        }
    }
    @include portrait{
        @include setflex(column !important, flex-start, flex-start);
        flex-direction: column !important;
    }
    @include landscape{
        @include setflex(row !important, center, center);
        p{
            text-align: left;
            width:50%;
        }
        .stars{
            width:50%;
            justify-content: flex-start;
        }
    }

}
.info-step1 button, #browse{
    @include buttons;
}
body{
    margin:0;
}
.collapse-div{
    // margin-top: 15px;
    .row{
        @include setflex(row, center, flex-start);
        @include setflex(row, center, flex-start);
        @include portrait{
            @include setflex(column, center, flex-start);
            width: 100%;
        }
        @include landscape{
            @include setflex(column, center, flex-start);
            width: 100%;
        }
        margin-left: 0 !important;
        .nopad-col{
            padding:0;
            h4{
                text-align: right;
            }
        }
        .col{
            @include setflex(row, center, flex-end);
            @include portrait{
                width: 100%;
                @include setflex(row, center, center);
            }
            @include landscape{
                width: 100%;
                @include setflex(row, center, center);
            }
        }
    }

    select
    {
        appearance: none;
        -moz-appearance: none;
        -webkit-appearance: none;
    }
    .inbetween-div{
        position: relative;
    }
    .select-side {
        pointer-events: none;
        border: 0 !important;
        &:before {
            position: absolute;
            left    : 0;
            bottom  : 0;
            height  : 100%;
            width   : 1px;  /* or 100px */
        }
        @include setflex(row, center, flex-end);
        width: 100%;
        position: absolute;
        top: 0px;
        height: 100%;
        left: 0px;
        i {
            margin-right:20px;
        }
    }
    #selectside2
    {
        height: 110px !important;
        i{
            margin-right: 25px;
        }
    }
    .select-side:checked{
        background-color: red !important;
    }
}
#svg-rol{
    display:none;
    margin-left:15px;
    width:25px;
}
