// Custom variables
$pink-col-rgb: 238, 42, 123;
$pink-col-hex: #ee2a7b;
$buttonsborder: 2px solid white;
$imagelocation: 'http://localhost:3000/webuycars/public/img/';
$input_color: black;
$input_back_color: white;
$inputsborder: 2px solid black;
$inputsborder-hover: 2px solid $pink-col-hex ;
$input-hover-color: black;
$input-hover-back-color: white;

// Import mixins
@import "mixins";

// Some basic universal styling
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

//custom styles
@import 'navbar';
@import 'homepage';
@import "steps";

@import 'flash_message';
@import "stars_rating";
@import "radio_buttons";
@import "error";
