// modules
@import 'modules/all';

// Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,600');

// include all the partials
@import 'partials/navbar';
@import 'partials/homepage';
@import 'partials/steps';
@import 'partials/error';
@import 'partials/flash_message';
@import 'partials/fileupload';
@import 'partials/c-btn';
@import 'partials/c-input';
@import 'partials/c-stars';
@import 'partials/c-radios';
@import 'partials/c-page-title';
@import 'partials/c-load-icon';
@import 'partials/c-info-tab';
@import 'partials/c-form';
@import 'partials/c-top-image';
// Some basic universal styling
@include step_nums_and_dashes;
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}
