$pink-col-rgb: 238, 42, 123;
$pink-col-hex: #ee2a7b;
$buttonsborder: 2px solid white;
$imagelocation: 'http://localhost:3000/webuycars/public/img/';
$input_color: black;
$input_back_color: white;
$inputsborder: 2px solid black;
$inputsborder-hover: 2px solid $pink-col-hex;
$input-hover-color: black;
$input-hover-back-color: white;
$errorborder-color: red;
