.c-btn {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: 0;
    background-color: $pink-col-hex;
    color: white;
    transition: 0.2s ease;
    text-align: center;
    &:focus {
        color: white;
        background-color: lighten($pink-col-hex, 10%);
        outline: none;
    }
    &:hover {
        color: white;
        background-color: lighten($pink-col-hex, 10%);
        outline: none;
    }
    // modifier
    &--home {
        width: auto;
        background-color: rgba(0, 0, 0, 0);
        padding-top: 5px;
        padding-bottom: 5px;
        border: $home-volgende-button-border;
        &:hover,
        &:focus {
            background-color: rgba(0, 0, 0, 1);
        }
    }
    // modifier
    &--vorige {
        display: inline-block;
        width: auto;
        margin-top: 25px;
        border: 0;
        background-color: rgba(0, 0, 0, 0);
        color: black;
        transition: 0.2s ease;
        &:focus {
            color: white;
            background-color: black;
            outline: none;
        }
        &:hover {
            color: white;
            background-color: black;
            outline: none;
        }
    }
    // modifier
    &--collapse {
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.8);
        text-align: left;
        margin-top: 40px;
        &:focus {
            background-color: rgba(0, 0, 0, 0.8);
            color: white;
            outline: none;
        }
        &:hover {
            background-color: rgba(0, 0, 0, 1);
            color: white;
            outline: none;
        }
        &[aria-expanded='false'] {
            i:before {
                content: '\f054';
            }
        }
        &[aria-expanded='true'] {
            i:before {
                content: '\f078';
            }
        }
    }
    //sub element
    &__collapse {
        h4 {
            margin-top: 30px;
        }
        .row {
            @include setflex(row, center, flex-start);
            @include landscape-down {
                @include setflex(column, center, flex-start);
                width: 100%;
            }
            margin-left: 0 !important;
        }
        .col {
            @include setflex(row, center, flex-end);
            @include landscape-down {
                width: 100%;
                @include setflex(row, center, center);
            }
        }
        &__l-wrap {
            position: relative;
            width: 100%;
        }
    }
}
.has-nopad {
    padding: 0;
    h4 {
        text-align: right;
    }
}
