.c-form {
    &--home {
        @include portrait {
            width: auto;
        }
        @include landscape-down {
            @include setflex(column,center, center);
        }
        @include tablet-up {
            @include setflex(column,flex-end, flex-end);
        }
    }
    &__plate {
        height: 80px;
        width: 310px;
        padding-left: 50px;
        border: $plate-border;
        box-sizing: border-box;
        font-size: 45px;
        background-size: 310px auto;
        background-image: url($imagelocation + 'plate.png');
        background-repeat: no-repeat;
    }
}
