.c-page-title {
    margin: 0;
    padding: 50px;
    background-color: $pink-col-hex;
    color: white;
    text-align: center;
    &__main-title {
        font-size: 28px;
    }
    &__sub-title {
        font-size: 22px;
    }
}
