/* Begin fileupload */
$searchWidth: 32%; // Browsers that don't support calc will use this
$searchWidth: calc(32% - 2px); // Browsers that do use this
.file-caption-main {
    display: flex;
    flex-wrap: wrap;
    // The part where Filenames are shown
    &.inputerror {
        border: none !important; //when this element has an error it doesn't give the border to this element
        .file-caption {
            border: 2px solid $errorborder-color;
            border-bottom: $inputsborder;
        }
        .fileinput-remove {
            border: 2px solid $errorborder-color;
            border-top: none;
            border-right: $inputsborder;
        }
        .btn-primary.btn-file {
            border-right: 2px solid $errorborder-color;
            border-bottom: 2px solid $errorborder-color;
        }
    }
    .file-caption {
        width: 100%;
        height: 50px;
        padding: 15px;
        border: $inputsborder;
        border-radius: 0px;
        font-size: 16px;
        @include laptop-down {
            width: 100%;
        }
    }
    // Container of both buttons
    .input-group-btn {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        transition: 0.2s ease;
        @include laptop-down {
            width: 100%;
        }
    }
    // Remove button
    .fileinput-remove {
        @include setflex(row, center, center);
        width: 100% - $searchWidth;
        width: calc(100% - (32% - 2px));
        padding: 10px 0;
        border: $inputsborder;
        margin-left: 0px !important;
        border-top: 0px;
        transition: 0.2s ease;
        &:hover {
            background-color: lighten($pink-col-hex, 30%);
        }
        @include portrait {
            width: 100%;
            padding: 10px 0;
        }
    }
    // Search button
    .btn-file.btn-primary {
        @include setflex(row, center, center);
        width: $searchWidth;
        height: 50px;
        padding: 10px 0;
        margin-left: 0px !important;
        border: 0;
        border-radius: 0px;
        background-color: black;
        font-size: 16px;
        transition: 0.2s ease;
        @include portrait {
            width: 100%;
            padding: 10px 0;
        }
        &:hover {
            color: $pink-col-hex;
        }
    }
    .hidden-xs {
        margin-left: 15px;
        @include landscape-down {
            display: block !important;
        }
    }
}
.file-upload-indicator {
    display: none;
}
.file-preview-thumbnails {
    @include setflex(row, center, center, wrap);
}
/* End fileupload */
