#flash-mes {
    position: absolute;
    min-width: 200px;
    text-align: center;
    top: 180px;
    z-index: 10;
    transition: 0.2s ease;
    animation: flash-mes-comein 1s forwards, flash-mes-fade 0.5s forwards 10s;
}

@keyframes flash-mes-fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes flash-mes-comein {
    0% {
        right: -500px;
    }
    100% {
        right: 20px;
    }
}
@keyframes flash-ms-fade {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes flash-ms-comein {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
