.m--bold {
    font-weight: bold;
}
/* Begin Homepage */
.row--no-width {
    width: 100%;
    @include landscape-down {
        @include setflex(column,center, center);
    }
    @include tablet-up {
        @include setflex(column,flex-end, flex-end);
    }
}
.vrijblijvend {
    @include setflex(column, center, center);
    color: white;
    height: 300px;
    background-color: $pink-col-hex;
    text-align: center;
    h1 {
        @include portrait {
            font-size: 28px;
        }
        @include landscape {
            font-size: 36px;
        }
        @include tablet-up {
            font-size: 48px;
        }
    }
    h2 {
        @include landscape-down {
            font-size: 24px;
        }
        @include tablet-up {
            font-size: 36px;
        }
    }
}

.instructies {
    height: auto;
    background-image: url($imagelocation + 'cardoor.png');
    background-repeat: no-repeat;
    @include setflex(row, center, center);
    @include tablet-down {
        flex-direction: column;
        background-image: url($imagelocation + 'cardoor-992x1500.png');
    }
    .col {
        color: white;
        padding: 40px 0 40px 0;
        text-align: center;
    }
}
.instructies-img {
    width: 250px;
}
.gegevens {
    @include setflex(row, center, space-around);
    color: white;
    background-color: $pink-col-hex;
    .container {
        padding: 100px 0px;
    }
    .col {
        margin: 0 auto;
    }
}
.imgcol:not(.hidden-xs) {
    @include landscape-down {
        @include setflex(row, center, center, nowrap, !important);
        margin-top: 30px;
        text-align: center;
    }
}
.bottom-col {
    margin-bottom: 0;
}
.reviews {
    @at-root .title-row {
        @include setflex(row, center, center);
        padding: 50px 0;
        .col {
            @include setflex(row, center, center);
        }
        h1 {
            margin: 0;
        }
    }
    display: flex;
    height: auto;
    background-image: url($imagelocation + 'reviewachtergrond.png');
    color: white;
}
.foto {
    @include background-url('blauwepolo.png', 62%);
}
.foto2 {
    @include background-url('blauwepoloRes.png', 62%);
}
.fotoOnderlijn {
    height: 10px;
    background-color: $pink-col-hex;
}
.tekst-naam {
    margin: 50px 20px 0px 20px;
    color: black;
}
.tekst {
    margin: 0px 20px 0px 20px;
    color: black;
}
.tekstOnderlijn {
    height: 2px;
    margin: 20px 40px 0px 40px;
    background-color: black;
}
.reviewbox-column {
    text-align: center;
    color: white;
    @include landscape-down {
        padding: 0 !important;
    }
}
.reviewbox {
    margin: 0px 0px 40px 20px;
    padding-bottom: 1px;
    background-color: white;
    @include landscape-down {
        margin-left: 0;
        padding-bottom: 20px;
    }
}

.rating-wrap {
    @include setflex(row, center, space-around);
    padding: 15px;
}
.single-inside-wrap {
    @include setflex(row, center, center);
}
.single-rating {
    @include setflex(row, center, center);
    width: $circle-size;
    height: $circle-size;
    margin-right: 10px;
    border-radius: 50%;
    border: 5px solid black;
    background-color: black;
    @include portrait {
        width: $circle-size * ($portrait-circle-percentage / 100);
        height: $circle-size * ($portrait-circle-percentage / 100);
    }
    @include tablet {
        width: $circle-size * ($tablet-circle-percentage / 100);
        height: $circle-size * ($tablet-circle-percentage / 100);
    }
    @include laptop {
        width: $circle-size * ($laptop-circle-percentage / 100);
        height: $circle-size * ($laptop-circle-percentage / 100);
    }
    @include custom(0px, 335px) {
        width: $circle-size * 0.5;
        height: $circle-size * 0.5;
    }
    &:not(.full) {
        background-color: rgba(white, 0);
    }
    &:last-child {
        margin-right: 0;
    }
}
.review-img {
    width: $circle-size * ($image-wrap-percentage / 100);
    @include portrait {
        width: $circle-size * ($portrait-circle-percentage / 100) * ($image-wrap-percentage /
                    100);
    }
    @include tablet {
        width: $circle-size * ($tablet-circle-percentage / 100) * ($image-wrap-percentage /
                    100);
    }
    @include laptop {
        width: $circle-size * ($laptop-circle-percentage / 100) * ($image-wrap-percentage /
                    100);
    }
    @include custom(0px, 335px) {
        width: $circle-size * 0.5 * ($image-wrap-percentage / 100);
    }
}
.footer {
    height: 200px;
    width: 100%;
    background-color: $pink-col-hex;
}
/* end Homepage */
